.no-saved {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-save-img {
  width: 30%;
}

.light-theme {
  color: #212121;
  font-family: 'Roboto';
  font-size: 30px;
}

.dark-theme {
  color: #f1f5f9;
  font-family: 'Roboto';
  font-size: 30px;
}

.saved-video-list {
  margin-left: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.saved-content {
  flex: 1;
  overflow-y: auto;
  height: 100vh;
}
