.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.home-container {
  margin: 0;
  padding: 0;
  position: relative;
}

.light-theme {
  background-color: #ebebeb;
  height: 100%;
}

.dark-theme {
  background-color: #212121;
  height: 100%;
}

.video-container {
  margin-left: 0;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.no-search-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.no-search-img {
  width: 500px;
}

.search-with-margin {
  margin-top: 100px;
}

.no-search-title {
  font-family: 'Roboto';
  font-size: 20px;
}

.light-no-search-title {
  color: #212121;
}

.dark-no-search-title {
  color: #f1f5f9;
}

.no-search-para {
  font-family: 'Roboto';
  font-size: 18px;
  color: #909090;
}

.retry-btn {
  background-color: #4f46e5;
  color: #f1f5f9;
  font-family: 'Roboto';
  width: 100px;
  border-radius: 5px;
  padding: 10px;
}

.trending {
  margin-top: 70px;
  display: flex;
  padding: 20px;
  align-items: center;
}

.light-theme-trending {
  background-color: #f1f5f9;
}

.dark-theme-trending {
  background-color: #181818;
}

.light-theme-trend {
  color: #212121;
}

.dark-theme-trend {
  color: #f1f5f9;
}

.light-theme-menu-icon {
  background-color: #e2e8f0;
  color: #ff0000;
  border-radius: 20px;
  height: 40px;
  width: 40px;
  padding: 5px;
  font-size: 20px;
  margin-right: 10px;
}

.dark-theme-menu-icon {
  background-color: #000000;
  color: #ff0000;
  border-radius: 20px;
  height: 40px;
  width: 40px;
  padding: 5px;
  font-size: 20px;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .home-container {
    display: flex;
    height: 100vh;
  }

  .header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }

  .home-content-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100vw;
  }
  .home-content {
    margin: 0;
    padding: 0;
    width: 20%;
    height: 100vh;
  }

  .main-content {
    width: 100%;
    overflow-y: scroll;
  }

  .ad-banner {
    height: 300px;
    padding-top: 100px;
  }

  .banner-content {
    width: 50%;
  }

  .banner-logo {
    width: 130px;
  }

  .banner-heading {
    font-size: 25px;
  }

  .banner-btn {
    font-size: 15px;
  }

  .search-bar {
    width: 50%;
  }
}
